.wrapper-job-list {
  margin: 0 auto;
}

.demo-table {   
	border-collapse:collapse;
	border-bottom:1px solid gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width:100%;
	margin: 0 auto;
	border: 3px dotted rgba(0,0,0,0.1);
}
 
.demo-table-header {
	border-bottom:1px solid gray;
	background:none repeat scroll 0 0 #0775d3;
	padding:10px;
	color: #FFFFFF;
}
 
.demo-table-odd-row {
	border-top:1px solid gray;
	background:none repeat scroll 0 0 #FFFFFFF;
	height:32px;
	text-align:center;
}
 
.demo-table-even-row {
	border-top:1px solid gray;
	background:none repeat scroll 0 0 #D0D0D0;
	height:32px;
	text-align:center;
}